<ul>
  <% @files.each do |image| %>
    <% if @img_types.include?(File.extname(image)) %>
      <li>
        <a href="<%= image %>"><%= image %></a> |
        <form class="inline" method="post" action="/<%= image %>/delete_image">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  <% end %>
</ul>

<p><a href="imageupload">Upload Image</a></p>
